@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/cssprojeto.css">

<div class="row">
    <div class="formcont">
        <div class="container">
            <h3>@ViewBag.Message</h3>
            <p>Faça o cadastro de uma empresa.</p>
            <div class="content">
                <form action="@Url.Action("InsertEmpresa","Home")" method="post">
                    @Html.ValidationSummary()
                    <select class="formfornecedor mt" name="uf" id="uf">
                        <option value="" disabled selected>UF</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select><br />
                    <input type="text" class="inputsfornecedor mt" name="nomefantasia" id="nomefantasia" placeholder="Nome Fantasia" /><br />
                    <input type="text" class="inputsfornecedor mt" name="cnpj" id="cnpj" placeholder="CNPJ" /><br />
                    <button type="submit" class="mt btncadastro">Cadastrar</button>
                    <a href="@Url.Action("ListaEmpresas","Home")">Lista de Empresas</a>
                </form>
            </div>
        </div>
    </div>
</div>